---
import Layout from '../../../layouts/Layout.astro';
import Header from '../../../components/Header.astro';
import Footer from '../../../components/Footer.astro';
import FlyCard from '../../../components/assets/FlyCard.astro';
import BaseCard from '../../../components/assets/BaseCard.astro';
import Section from '../../../components/codec/Section.astro';
import Codec from '../../../components/codec/Codec.astro';
---

<Layout title="jScript | Projects | Shivam Dewangan | Front-end Developer">
	<Header />
	<BaseCard
		title="jScript"
		body="JavaScript based DOM manipulation tool. A recreation of jQuery."
	/>
	<FlyCard width="1000" area="1">
		<div class="wrapper">
			<h2>How to Use jScript</h2>
			<Section>
				<p>Get codes on <a href="https://github.com/Projset/jScript" target="_blank">Github</a>.</p>
				<h3>Install</h3>
				<p>Download jScript files from <a href="https://github.com/Projset/jScript" target="_blank">Github</a> and add to <code>document</code> at <code>head</code>.</p>
				<Codec language="html">&lt;script src="/path/to/jscript.min.js"&gt;&lt;/script&gt;</Codec>
				<note>
					<tag>Using jScript in local server?</tag>
					<p>If jScript is conflicting with any other code or you want ot change jScript constant just change <code>$</code> at the last line.</p>
				</note>
				<Codec language="">&rbrace;(&nbsp;'$'&nbsp;)); // Change the $ here</Codec>

				<h3>Setup</h3>
				<p>Now, you need to instantiate it by passing a DOM selector, HTML element, or list of HTML elements.</p>
				<Codec language="">const selector = $(".body");

// or

const selector = $(document.body);

// or

const selector = $([document, document.head, document.body]);</Codec>
			</Section>
			<h2>Usage</h2>
			<Section>
				<h3>DOM Modifiers</h3>
				<h4>.add()</h4>
				<p>Create a new jQuery object with elements added to the set of matched elements.</p>
			</Section>
		</div>
	</FlyCard>
	<Footer/>
</Layout>
<style>
	.wrapper {
		display: block;
		width: 100%;
		padding: 20px;
	}
	a {
        transition: .2s;
        color: dodgerblue;
        text-decoration: none;
    }
    a:hover {
        color: darkblue
    }
	code {
		display: inline-block;
		padding: 5px 10px;
		background: #ddd;
		border-radius: 4px;
		font-size: .8em;
		color: #121212;
		border: 1px solid #ccc;
	}
	note {
		border-left: 4px solid #1e90ff;
		display: block;
		padding: 20px;
		font-size: 14px;
		background: #1e90ff22;
		color: #545454;
		border-radius: 0 10px 10px 0;
	}
	note > tag {
		color: #000;
		font-weight: 600;
		font-size: 1.2em;
	}
	h2,h3 {
		border-bottom: 1px solid #0003;
	}
	h2,h3,h4,h5,h6 {
		font-weight: 600;
		margin: 0;
		padding: 10px 0;
	}
	p {
		color: #545454;
		font-size: 15px;
	}
	:global(.section-anchor) {
		color: inherit;
		text-decoration: none;
		position: relative;
	}
	:global(.section-anchor:hover) {
		text-decoration: underline;
	}
	:global(.section-anchor > .linker) {
		opacity: 0;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: calc(100% + 10px);
		color: dodgerblue;
		font-size: 12px;
	}
	:global(.section-anchor:hover > .linker) {
		opacity: 1;
	}
</style>
<script client:load>
	const cleanString = (str="") => str.replace(/\s+/g, '-').toLowerCase().replace(/[^a-zA-Z0-9\-\_]/g, "");
	let scroll = $();
    $(".wrapper h1, .wrapper h2, .wrapper h3, .wrapper h4, .wrapper h5, .wrapper h6").each(function( item ) {
        let anchor = $(document.createElement( "a" ));
        anchor.addClass( "section-anchor" );;
		anchor[0].innerHTML = '<i class="linker fa fa-link"></i>' + this.innerHTML;
		const id = "#" + cleanString( this.innerHTML );
		anchor[0].href = id;
		item.attr("id", id.substring(1, id.length));
		if ( id === window.location.hash ){
			scroll = item;
		}
		this.innerHTML = "";
		this.appendChild( anchor[0] );
    });
	scroll.scrollIntoView();
</script>