<div class="section">
    <slot />
</div>
<style>
    .section {
        margin: 1rem auto;
        padding: 20px 5px;
        display: flex;
        flex: 1;
        flex-direction: column;
        width: 100%;
    }
</style>