<footer class="pjs-footer">
    <div class="pjs-footer-flex card-of-width width-1200">
        <div class="pjs-footer-card">
            <a href="/" class="pjs-footer-icon">
                <img src="/assets/images/logo-80x80.png" alt="Shivam Dewangan" />
            </a>
            <div class="pjs-footer-block">
                <div class="pjs-footer-tagline">Living, learning, & leveling up one day at a time.</div>
                <div class="pjs-footer-links">
                    <a href="/social/twitter" target="_blank" class="pjs-footer-ink"><i class="fab fa-fw fa-twitter"></i></a>
                    <a href="/social/github-professional" target="_blank" class="pjs-footer-ink"><i class="fab fa-fw fa-github"></i></a>
                    <a href="/social/github-personal" target="_blank" class="pjs-footer-ink"><i class="fab fa-fw fa-github-alt"></i></a>
                    <a href="/social/linkedin" target="_blank" class="pjs-footer-ink"><i class="fab fa-fw fa-linkedin"></i></a>
                    <a href="/social/email" target="_blank" class="pjs-footer-ink"><i class="far fa-fw fa-envelope"></i></a>
                </div>
                <div class="pjs-footer-copyright">Handcrafted by me. <i class="far fa-copyright"></i> 2023</div>
                <div class="pjs-footer-build">Made with <img src="/assets/images/astro-80x80.png" alt="Astro" /> Astro</div>
            </div>
        </div>
    </div>
</footer>
<style>
    .pjs-footer {
        margin-top: 5rem;
        width: 100%;
        background: #141c3a;
        color: #fff;
    }
    .pjs-footer-flex {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        position: relative;
    }
    .pjs-footer-card {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        justify-content: center;
        text-align: center;
    }
    .pjs-footer-block,
    .pjs-footer-copyright,
    .pjs-footer-build {
        padding: 10px;
        margin: 20px auto;
    }
    .pjs-footer-links {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 40px auto;
        gap: 10px;
    }
    .pjs-footer-ink {
        display: inline-block;
        padding: 12px;
        border: 1px solid #fff7;
        color: #fff;
        font-size: 1.2em;
        border-radius: 50%;
        transition: .2s;
    }
    .pjs-footer-ink:hover {
        background: #fff;
        color: #141c3a;
    }
    .pjs-footer-copyright {
        color: #fffa;
        font-size: .9em;
    }
    .pjs-footer-build {
        color: #fff7;
        font-size: .8em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pjs-footer-build img {
        widows: 40px;
        height: 40px;
    }
</style>
