---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import FlyCard from "../../components/assets/FlyCard.astro";
import HeaderCard from "../../components/assets/HeaderCard.astro";
import ProjectCard from "../../components/assets/ProjectCard.astro";

const PROJECTS = [
	{
		icon: "https://d33wubrfki0l68.cloudfront.net/63be6f87c631426a62669709/screenshot_2023-01-11-08-13-43-0000.png",
		name: "Accounts - Component",
		body: "A ReactJs accounts login component. Attach to the project and your auth page is ready to go.",
		href: "https://accounts.project.myoasis.tech",
	},
	{
		icon: "https://d33wubrfki0l68.cloudfront.net/63be6457b95e955eea5a3dbd/screenshot_2023-01-11-07-25-57-0000.png",
		name: "Tasks",
		body: "An app to create tasks. Manage, update multiple tasks and lists of tasks at one place.",
		href: "https://tasks.myoasis.tech",
	},
	{
		icon: "https://d33wubrfki0l68.cloudfront.net/63be6d230416b969f363e687/screenshot_2023-01-11-08-03-21-0000.png",
		name: "Private Note - Lite",
		body: "A lite version of upcoming Private note app. Based on privnote.com. Create notes and share the links.",
		href: "https://private-lite.notes.myoasis.tech",
	},
	{
		icon: "https://d33wubrfki0l68.cloudfront.net/63c65da1b6015e0708101ae3/screenshot_2023-01-17-08-35-32-0000.png",
		name: "Notes - Share",
		body: "Share your notes to anyone. Based on ctxt.io. Create notes and share the links to anyone.",
		href: "https://notes.myoasis.tech",
	},
	{
		icon: "https://d33wubrfki0l68.cloudfront.net/63be66065d805f5fabfa83ce/screenshot_2023-01-11-07-32-49-0000.png",
		name: "To do - lists",
		body: "Create a list of to-dos to manage your tasks more efficiently. Stored on localStorage.",
		href: "https://todo.project.myoasis.tech",
	},
];

const PROJECTS2 = [
	{
		icon: "../../assets/images/logo-512x512.png",
		name: "Dom-Selector-Extension",
		body: "Get NodeName, classList, and id along with styles of elements as an extension.",
		href: "//chrome.google.com/webstore/detail/dom-selector/bmnofgbgldbkkpgpahilcgalnjocgbla",
	},
	{
		icon: "../../assets/images/logo-512x512.png",
		name: "Dom-Selector",
		body: "Get NodeName, classList, and id along with styles of elements.",
		href: "//github.com/shivamdevs/Dom-Selector",
	},
	{
		icon: "../../assets/images/logo-512x512.png",
		name: "jScript",
		body: "A Javascript library for easier handling of DOM manipulation.",
		href: "//github.com/shivamdevs/jScript",
	},
	{
		icon: "../../assets/images/logo-512x512.png",
		name: "WebStorage",
		body: "Manages local or session Storage values as an Object.",
		href: "//github.com/shivamdevs/WebStorage",
	},
	{
		icon: "../../assets/images/logo-512x512.png",
		name: "Propbar",
		body: "Shows an custom alert rather than system alert.",
		href: "//github.com/shivamdevs/PropBar",
	},
	{
		icon: "../../assets/images/logo-512x512.png",
		name: "Propalert",
		body: "A centralized alert popup messaging system.",
		href: "//github.com/shivamdevs/PropAlert",
	},
	{
		icon: "../../assets/images/logo-512x512.png",
		name: "Console",
		body: "A duplicate for browser console, where colsole data is displayed inside web.",
		href: "//github.com/shivamdevs/Console",
	},
	{
		icon: "../../assets/images/logo-512x512.png",
		name: "Context menu",
		body: "A popup/context menu for using custom context menu.",
		href: "//github.com/shivamdevs/ContextMenu",
	},
	// {
	// 	icon: "../../assets/images/products/micro-projects/admin-dashboard.png",
	// 	name: "Admin Dashboard",
	// 	body: "Manage your website with the admin dashboard. (Prototype only).<br><br>Not working right now.",
	// 	href: "/micro-projects/admin-dashboard"
	// },
	// {
	// 	icon: "../../assets/images/products/micro-projects/index-01.png",
	// 	name: "Intro Page - 1",
	// 	body: "A new gradient style index page for more stylish.<br>Not working right now.<br><br>Not working right now.",
	// 	href: "/micro-projects/index-01"
	// },
	// {
	// 	icon: "../../assets/images/products/micro-projects/index-02.png",
	// 	name: "Intro Page - 2",
	// 	body: "Basic Styled index page with much more functionality.<br>Not working right now.<br><br>Not working right now.",
	// 	href: "/micro-projects/index-02"
	// },
	// {
	// 	icon: "../../assets/images/products/micro-projects/index-03.png",
	// 	name: "Intro Page - 3",
	// 	body: "Basic Styled index page with much more functionality.<br>Not working right now.<br><br>Not working right now.",
	// 	href: "/micro-projects/index-01"
	// },
	// {
	// 	icon: "../../assets/images/products/micro-projects/index-04.png",
	// 	name: "Intro Page - 4",
	// 	body: "A new gradient style index page for more stylish.<br>Not working right now.<br><br>Not working right now.",
	// 	href: "/micro-projects/index-01"
	// },
	// {
	// 	icon: "../../assets/images/products/micro-projects/index-05.png",
	// 	name: "Intro Page - 5",
	// 	body: "Basic Styled index page with much more functionality.<br>Not working right now.<br><br>Not working right now.",
	// 	href: "/micro-projects/index-02"
	// },
];
---

<Layout title="Projects | Shivam Dewangan | Front-end Developer">
	<Header />
	<HeaderCard
		title="My Projects"
		body="Here are a few past design projects I've worked on. Most of them are dropped off due to certain reasons."
		linktarget=""
		linktext=""
		linkhref=""
	/>
	<FlyCard width="1200" area="">
		<ProjectCard items={PROJECTS} />
	</FlyCard>
	<HeaderCard
		title="Older Projects"
		body="Here are few more projects I've worked on. Its mostly based on JavaScript and can be used by importing as script file."
		linktarget=""
		linktext=""
		linkhref=""
	/>
	<FlyCard width="1200" area="">
		<ProjectCard items={PROJECTS2} />
		<div class="center-content with-margin-4">
			<div class="center-content with-margin-1" style="font-size: 14px">
				Copyright warning: All this pages were designed by me. Some
				ideas from other websites were taken.
			</div>
			<div class="center-content with-margin-1">Look for more stuff.</div>
			<a href="/starter" class="button-classic"
				><i class="far fa-radar"> &nbsp;</i> Explore Starter Projects</a
			>
			<a href="/working" class="button-classic"
				><i class="far fa-microchip"> &nbsp;</i> Explore Working Projects</a
			>
		</div>
	</FlyCard>
	<Footer />
</Layout>
