---
let { items } = Astro.props;
---

<div class="cards">
	{
		items.map(
			(item: {
				href: string | URL;
				icon: string;
				name: unknown;
				body: unknown;
			}) => (
				<a href={item.href} class="pjs-card" target="_blank">
					<div class="pjs-logo">
						<img src={item.icon} alt="" class="pjs-icon" />
					</div>
					<div class="pjs-data">
						<div class="pjs-name">{item.name}</div>
						<div class="pjs-body">{item.body}</div>
					</div>
				</a>
			)
		)
	}
</div>
<style>
	.cards {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		box-shadow: 0 0 10px 5px var(--color-border);
		border-radius: 6px;
		overflow: hidden;
	}
	.pjs-card {
		text-decoration: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 100%;
		cursor: pointer;
		overflow: hidden;
		background: var(--color-bg);
		padding: 10px 20px;
		transition: 0.2s;
	}
	.pjs-card:nth-child(even) {
		background: #f8faff;
	}
	.pjs-card:not(:last-child) {
		border-bottom: 1px solid var(--color-border);
	}
	.pjs-card:hover {
		background: var(--color-bg-alter);
	}
	.pjs-logo {
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: 0 0 0 1px var(--color-border);
		flex-wrap: nowrap;
		min-width: 102.4px;
		max-width: 102.4px;
		min-height: 64px;
		max-height: 64px;
		overflow: hidden;
		border-radius: 6px;
		background-color: #0001;
	}
	.pjs-icon {
		max-width: 100%;
		max-height: 100%;
	}
	.pjs-data {
		width: calc(100% - 150px);
		display: flex;
		flex-direction: column;
		transition: 0.2s;
		padding-left: 20px;
		justify-content: center;
		opacity: 0.8;
	}
	.pjs-card:hover .pjs-data {
		opacity: 1;
	}
	.pjs-name {
		font-size: 1.3em;
		color: #121212;
		font-weight: 600;
	}
	.pjs-body {
		font-size: 0.8em;
		padding: 10px 0;
		color: #545888;
	}
	@media screen and (max-width: 600px) {
		.pjs-card {
			padding: 10px;
		}
		.pjs-data {
			padding-left: 10px;
		}
	}
</style>
